.item-count{
    display:flex;
    flex-direction: column;
    gap: 8px;
    max-width: max-content;
    align-items: center;
}
.item-count__buttons{
    display: flex;
    align-items: center;
    gap: 16px;
}
.item-count__buttons button{
    background-color: #f8f6ee;
    padding: 1px;
    font-size: 16px;
    font-weight: bold;
    width: 42px;
    height: 40px;
    border-radius: 8px;
    border-color: #494b63;
}
.item-count__buttons span{
    font-size: 20px;
    width: 25px;
    color: black;
    position: relative;
    left: 6px;
}
.item-count__add{
    padding: 8px 8px;
    background: #01010c;
    max-width: 300px;
    border-radius: 8px;
    color: white;
}
.item-count__add:disabled{
    padding: 8px 16px;
    background: #494b63;
    max-width: 300px;
    border-radius: 8px;
    color: white;
}